[Desktop Entry]
Name=Gradient
Name[ar]=Gradient
Name[az]=Gradient
Name[ca]=Gradient
Name[ca@valencia]=Gradient
Name[cs]=Gradient
Name[da]=Gradient
Name[de]=Gradient
Name[en_GB]=Gradient
Name[es]=Gradient
Name[et]=Gradient
Name[eu]=Gradient
Name[fi]=Gradient
Name[fr]=Gradient
Name[gd]=Gradient
Name[gl]=Gradient
Name[hu]=Gradient
Name[ia]=Gradient
Name[id]=Gradient
Name[it]=Gradient
Name[ko]=Gradient
Name[lt]=Gradient
Name[nb]=Gradient
Name[nl]=Gradient
Name[nn]=Gradient
Name[pa]=Gradient
Name[pl]=Gradient
Name[pt]=Gradient
Name[pt_BR]=Gradient
Name[ro]=Gradient
Name[ru]=Gradient
Name[sk]=Gradient
Name[sl]=Gradient
Name[sr]=Gradient
Name[sr@ijekavian]=Gradient
Name[sr@ijekavianlatin]=Gradient
Name[sr@latin]=Gradient
Name[sv]=Gradient
Name[tg]=Gradient
Name[tr]=Gradient
Name[uk]=Gradient
Name[vi]=Gradient
Name[x-test]=xxGradientxx
Name[zh_CN]=Gradient
Name[zh_TW]=Gradient
Comment=

Type=Service
Icon=plasma
X-KDE-ServiceTypes=Plasma/Wallpaper

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=gradient
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-Version=2.0
X-Plasma-MainScript=ui/main.qml
